.Antonym-title {
  font-style: bold;
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 20px;
}

.antonyms-list ul {
  list-style: none;
  max-width: 500px;
  padding: 0;
}

.antonyms-list li {
  display: inline;
}

.antonyms-list .antonym-word {
  background-color: rgba(0, 0, 0);
  border: none;
  border-radius: 7px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.4);
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
