.Dictionary .word-search {
  margin: 25px;
}

.Dictionary .word-search input {
  font-family: "Spartan", sans-serif;
  width: 350px;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
}

.Dictionary .word-search input:focus {
  color: black;
}

.light-green {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.main-word {
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 50px;
  color: black;
}

.part-of-speech,
.synonyms {
  list-style: none;
  text-transform: capitalize;
  line-height: 55px;
  max-width: 500px;
}

.examples {
  list-style: none;
  font-style: italic;
  margin: 10px;
}

.definitions {
  list-style: decimal;
}

.word {
  background-color: rgba(255, 255, 255, 0.507);
  padding: 10px;
  display: inline;
  margin: 4px;
  border-radius: 7px;
  line-height: 15px;
}
