.Meanings {
  margin: 20px;
}

.Meanings .example {
  font-style: italic;
  color: grey;
  margin-left: 20px;
}

.Meanings .part-of-speech {
  font-family: "Zilla Slab Highlight", cursive;
}
.Meanings ul {
  list-style: none;
  line-height: 25px;
  max-width: 600px;
}

.Meanings .examples {
  list-style: none;
  font-style: italic;
  margin: 10px;
}

.inactive {
  display: none;
}