.App {
  margin: 20px;
}

.App .Pink {
  background-color: rgb(248, 210, 216);
  border-radius: 15px;
  width: 700px;
  position: absolute;
}

.App .Green {
  background-color: rgb(138, 170, 152);
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.5);
  margin: 20px;
  width: 700px;
  border-radius: 15px;
  padding: 20px;
}

.App .woman-reading {
  float: right;
}

.App .first-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
}

.App .second-title {
  font-family: "Playfair Display SC", serif;
  font-size: 60px;
  font-weight: 900;
  font-style: bold;
  letter-spacing: 2px;
  margin-left: 80px;
}
